* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
@font-face {
    src: url(fonts/Touche\ W03\ Bold.ttf);
    font-family: "Touche Bold";
}
@font-face {
    src: url(fonts/Touche\ W03\ Light.ttf);
    font-family: "Touche Light";
}

@font-face {
    src: url(fonts/Touche\ W03\ Regular.ttf);
    font-family: "Touche Regular";
}

@font-face {
    src: url(fonts/Touche\ W03\ Semibold.ttf);
    font-family: "Touche Semibold";
}


.main-div2 {
    margin:0 auto;
    width:90%;
    height:auto;
    margin-bottom: 10%;
}

.header-div {
    border: 2px hidden;
    margin:0 auto;
    text-align: center;
    width:42%;
    margin-top:60px;
    margin-bottom:60px;
    font-family: "Touche Semibold";
    
}
div.header-div .text-1 {
    color:rgb(122,122,122);
}

.what-we-do {
    margin-bottom: 20px;
    
}
#p-service {
    margin:20px auto;
    color: rgb(253,155,12); 
    border-radius: 2px;
    width:100px;
    font-family: "Touche Semibold";
    
}

.phone-image {
   
     margin:0 auto;
    
}
.device{
    width:100%;
    height: auto;
}
div.clearfix p.text-info{
    color: #9A9A9A !important;
}
.p-left-info {
    text-align: right;

}

.info-left {
    padding-top:80px;
    
}
.info-right {
    padding-top:80px;
    
}
.clearfix {
    overflow:auto;
}
.icon-1 {
    float:right;
    right:0;
    width:110px;
    height: 110px;
    padding-left:30px;
}

.icon-2 {
    float:right;
    right:0;
    width:110px;
    height: 110px;
    padding-left:30px;
}
.icon-3 {
    float:right;
    right:0;
    width:110px;
    height: 110px;
    padding-left:30px;
}
.icon-4 {
    float:left;
    left:30px;
    width:110px;
    height: 110px;
    padding-right:30px;
}
.icon-5 {
    float:left;
    left:30px;
    width:110px;
    height: 110px;
    padding-right:30px;
}
.icon-6 {
    float:left;
    left:30px;
    width:110px;
    height: 110px;
    padding-right:30px;
}

.clearfix{
    overflow:auto;
    width:100%;
    margin-bottom:60px;
}

.font-headline {
    font-family: "Touche Bold";
    font-size: 17px;
}
.font-text {
    font-family: "Touche Semibold";
    font-size: 14px;
}

@media only screen and (max-width: 1200px) and (min-width: 575px){
    div.phone-image.col-sm-3{
        display:none;
    }
    div.row {
        justify-content:center;
    }
}




